.cars{
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    width: 888px;
    gap: 20px;
}
.pages{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}
.btn{
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    background-color: var(--gray-l);
}

.active{
    background-color: var(--btn);
    color: var(--white);
}