.container{
    
    padding-top: 0;
    padding-bottom: 0;
}
.hero {
    background-image: url('../../media//images/Picture.jpg');
    background-size: cover;
    background-position: center;
    height: 696px;
    display: flex;
    align-items: center;
    justify-content: start;
    color:  #F7F7F7;
    text-align: start;
    position: relative;
}

.heroBox {
    width: 571px;
    height: 176px;

}

.hero h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    margin:0;
    padding-bottom: 16px;
}

.hero h2 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        margin:0;
        padding-bottom: 40px;
}

.btn {
    display:inline-block;
    padding: 0;
    width:173px;
    padding: 16px 0;
    border-radius: 50px;
    background-color: #E44848;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.005em;
        color: #fff;
        text-align: center;
        text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #D84343;;
}