.container {
     /* width:1440px;
        height:72px; */
padding: 24px 64px 24px 64px;
         /* gap: 450px;
        border: 0px 0px 1px 0px;
        opacity: 0px;  */
}

/* @media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 32px;
    }
} */