.car{
    display: flex;
    flex-direction:row;
    border-radius: 20px;
    border: 1px solid var(--gray-l);
    overflow: hidden;
    width: 888px;
    height: 368px;

}
.carBox{
        display: flex;
        flex-direction: row;
        padding: 24px;
        gap: 24px;
}
.topLine{
    display: flex;
    justify-content:space-between;
    margin-bottom: 8px;
}
.priceBox{
    display: flex;
}
.heartBtn{
    display: inline-block;
    padding: 0 0 0 13px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon{
    width: 24px;
    height: 21px;
}
.favorite{
    fill:var(--btn) ;
}
.ratingLine{
    display: flex;
gap: 16px;
}
.ratingIcon{
    fill: var(--star);
    width: 16px;
    height: 16px;
}
.ratingText{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
}
.mapIcon{
    width: 16px;
    height: 16px;
}
.discr{
    width: 524px;
    display: flex;
    flex-direction: column;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 56px;
    background-color: var(--btn);;
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
    transition:background-color 500ms ;
}
.button:hover {
    background-color: var(--btn-hover);;
}
.img{
    width: 292px;
    height: 320px;
    opacity: 0px;
    object-fit: cover;
    border-radius: 10px;

}