.car{
    display: flex;
    flex-direction:row;
    align-items: center;
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    overflow: hidden;
    width: 888px;
    gap: 24px;
}
.discr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button {
    width: 166px;
    height: 56px;
    background-color: #E44848;;
    color: azure;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    transition:background-color 500ms ;
}
.button:hover {
    background-color: #D84343;;
}
.img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

}