.sidbur{
    
    width: 360px;
    /* height: 100vh; */
}
.form{
    display: flex;
    flex-direction: column;
}

.equBox{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
}
.equipment{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray-l);
}