.sidbur{
    
    width: 360px;
    /* height: 100vh; */
}
.form{
    display: flex;
    flex-direction: column;
}
.checkBox{
    width: 60px;
    height: 60px;
}
.checked{
    background-color: brown;
}