.text{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.005em;
        text-align: center;
}
.btn{
display: flex;
align-items: center;
justify-content: center;
width: 112px;
height: 96px;
background-color: transparent;
border-radius: 12px;
border: 1px solid var(--gray-l);
cursor: pointer;

text-transform: capitalize;
}

.checked {
    border: 1px solid var(--btn);
    border-radius: 12px; 
}
.icon{
    width: 32px;
        height: 32px;
        /* fill: transparent; */
        /* stroke: var(--dark);
        transition: stroke var(--animation); */
}
.btnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}