:root{
    --white: #FFFFFF;
    --main: #101828;;
    --text: #475467;
    --gray: #6C717B;
    --btn: #E44848;
    --btn-hover:#D84343;
    --star: #FFC531;
    --gray-l:#DADDE1;
    --badges: #F2F4F7;
    --inputs:#F7F7F7;
}